extends layout

block content

    br

    div(class = "container" )
        form(class = "form", name="timeSheetForm", method="post")
            div(class = "form-group")
                div.input
                    span.label Date   
                    input(id='date',type="date", class="form-control", name="date")
                div
                    span.label Name
                    select(id='name',class='form-control', name='foreman', placeholder='Your Name')
                        option Select Foreman
                        each foreman in foremenArray
                            option #{foreman.name}
                div.input
                    span.label Job Number   
                    input(id='jobNumber',type="number", class="form-control", name="jobNumber")
                div.input
                    span.label Job Site   
                    input(id='jobSite',type="text", class="form-control", name="jobSite")
                div.input
                    span.label City   
                    input(id='city',type="text", class="form-control", name="jobCity")
                div.input
                    span.label Crew Size For Estimate
                    input(id='estCrew',type="number", class="form-control", name="crewSizeEstimate")
                div.input
                    span.label Hours Worked  For Estimate   
                    input(id='estHours',type="time", class="form-control", name="hoursEstimate")
                div.input
                    span.label Crew Size For T&M  
                    input(id='tmCrew',type="number", class="form-control", name="crewSizeTM")
                div.input
                    span.label Hours Worked For T&M
                    input(id='tmHours',type="time", class="form-control", name="hoursTM")
                div.input
                    span.label Lunch Taken?  
                    input(id='lunch',type="text", class="form-control", name="lunch")
                div.input
                    span.label Done? 
                    input(id='done',type="text", class="form-control", name="done")
                div.input
                    span.label MD   
                    input(id='md',type="number", class="form-control", name="md")
                div.input
                    span.label DRC  
                    input(id='drc',type="number", class="form-control", name="drc")
                div.input
                    span.label CD   
                    input(id='cd',type="number", class="form-control", name="cd")
                div.input
                    span.label Other Hauling   
                    input(id='otherHauling',type="text", class="form-control", name="otherHauling")
                div.input
                    span.label Notes 
                    input(id='notes',type="text", class="form-control", name="notes")
                div.input
                    span.label Problems 
                    input(id='problems',type="text", class="form-control", name="problems")
                div.input
                    span.label Questions
                    input(id='questions',type="text", class="form-control", name="questions")
                div.actions
                    input(id='submit',type="submit", class="btn btn-primary", value="Submit")

    if timesheet
        script.
            window.onload = function() {
                document.getElementById("estCrew").defaultValue = "#{timesheet.estCrewSize}";
                document.getElementById("jobNumber").defaultValue = "#{timesheet.jobNumber}";
                document.getElementById("estHours").defaultValue = "#{timesheet.estCrewHours}";

            };
