extends layout

block content

    br


    div(class = "container" )
        form(class = "form", name="timeSheetForm", method="post")
            div(class = "form-group")
                div.input
                    span.label Date   
                    input(type="date", class="form-control", name="date")
                div
                    span.label Name
                    select(class='form-control', placeholder='Your Name')
                        option Select Foreman
                        each foreman in foremanArray
                            option #{foreman.name}
                div.input
                    span.label Job Number   
                    input(type="number", class="form-control", name="jobNumber", placeholder='Job Number From Calendar')
                div.input
                    span.label Job Site   
                    input(type="text", class="form-control", name="jobSite")
                div.input
                    span.label City   
                    input(type="text", class="form-control", name="jobCity")
                div.input
                    span.label Crew Size For Estimate
                    input(type="number", class="form-control", name="crewSizeEstimate")
                div.input
                    span.label Hours Worked  For Estimate   
                    input(type="time", class="form-control", name="hoursEstimate")
                div.input
                    span.label Crew Size For T&M  
                    input(type="number", class="form-control", name="crewSizeTM")
                div.input
                    span.label Hours Worked For T&M
                    input(type="time", class="form-control", name="hoursTM")
                div.input
                    span.label Lunch Taken?  
                    input(type="text", class="form-control", name="lunch")
                div.input
                    span.label Done? 
                    input(type="text", class="form-control", name="done")
                div.input
                    span.label MD   
                    input(type="number", class="form-control", name="md")
                div.input
                    span.label DRC  
                    input(type="number", class="form-control", name="drc")
                div.input
                    span.label CD   
                    input(type="number", class="form-control", name="cd")
                div.input
                    span.label Other Hauling   
                    input(type="text", class="form-control", name="otherHauling")
                div.input
                    span.label Notes 
                    input(type="text", class="form-control", name="notes")
                div.input
                    span.label Problems 
                    input(type="text", class="form-control", name="problems")
                div.input
                    span.label Questions
                    input(type="text", class="form-control", name="questions")
                div.actions
                    input(type="submit", class="btn btn-primary", value="Submit")